.index-border {
  height: 500px;
}

.scale-page {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.title {
  text-align: center;
  margin-top: 4rem;
  font-weight: 400;
  margin-left: 1rem;
}

.block {
  margin: auto;
}

.txt {
  color: #777;
  text-align: center;
  margin-top: 4rem;
  width: 710px;
}

.img {
  margin-top: 3.5rem;
  margin: auto;
}