.home-page {
  margin-top: 5rem;
}

.home-div {
  display: flex;
  justify-content: center;
}

.info-home {
  margin-top: 3.5rem;
  margin-left: 12rem;
}

.text-home {
  width: 460px;
  text-align: center;
  margin-left: -3.5rem;
  margin-top: 2.5rem;
}

.home-control {
  margin-left: -2rem;
  margin-top: 2rem;
}

.div-checkbox {
  display: flex;
}

.position-chekbox {
  display: flex;
  margin-top: 1rem;
  margin-left: -2rem;
}

.checkBox-1 {
  margin-left: 1rem;
}

.checkBox-2 {
  margin-left: 1rem;
}

.last-addit {
  display: flex;
  margin-top: 2rem;
}

.last-div {
  margin-left: -2rem;
}
