
.ingredients {
  &__title {
    text-align: center;
    font-weight: 400;
    margin-top: 4rem;
    margin-left: 1rem;
  }

  &__text {
    color: #777;
    text-align: center;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .ingredients-wrapper {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
  
    .ingredient {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 210px;
  
      &__img {
        width: 140px;
        height: 140px;
        border-radius: 75px;
        margin-bottom: 15px;
      }

      &__text {
        text-align: center;
      }
    }
  }
}