.title {
  text-align: center;
  font-weight: 400;
  margin-top: 4rem;
  margin-left: 1rem;
}

.txt {
  color: #777;
  text-align: center;
  margin-left: 1rem;
  margin-top: 1.5rem;
}

.components {
  display: flex;
  justify-content: center;
  margin-right: 6.5rem;
}

.img {
  border-radius: 75px;
  margin-left: 7rem;
  margin-top: 3rem;
}

.position {
  margin-left: -3rem;
}

.card-title {
  font-weight: 500;
  font-size: 14px;
}

.card-txt {
  color: #777;
  text-align: center;
  width: 180px;
  font-size: 15px;
  margin-top: 1rem;
}