.simpleat-border {
  background-color: #F0F6F4;
  height: 1000px;
  width: 65rem;
  margin: 0 auto;
  padding-top: 2rem;
  margin-top: 7rem;
}

.simpleat {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;

  &__title {
    text-align: center;
    font-weight: 400;
  }

  &__text {
    color: #777;
    width: 230px;
    text-align: center;
    font-weight: 400;
    margin-left: 26rem;
    margin-top: 3rem;
  }

  // &__btn {
  //   position: relative;
  // }

  .simpleat__navbar {
    width: 50rem;
    margin-left: 7rem;

    .navbar-title {
      font-weight: 800;
    }
  }

  .block-card {
    display: flex;
    height: 460px;
    width: 900px;
    background-color: white;
    margin-top: 1rem;
    margin-left: 4.3rem;

    .bottle-img {
      width: 120px;
      height: 300px;
      margin-left: 9rem;
      margin-top: 5rem;
    }

    .bottle-title {
      margin-top: -10rem;
      margin-left: 7.5rem;
      font-weight: 350;
    }

    .components__value {
      display: flex;
    }
  }
}